<!DOCTYPE html>
<html class="h-100">

<head>
	<meta charset="utf-8">

	<title>Crud de Teste - Daniel Diniz</title>

	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" href="css/custom.css">

	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>

</head>

<body class="d-flex flex-column h-100">
	<header>
		<div class="d-flex flex-column flex-md-row align-items-center px-md-4 bg-white border-bottom shadow-sm">
			<div class="logo"><a href="index.html"><img src="img/logo-hepta.png"></a> </div>
		</div>

		<div class="banner">
			<div class="container">
				<div class="row align-items-end">
					<div class="col titulo-banner">
						<h1>Cadastro</h1>
					</div>
				</div>
			</div>
		</div>
	</header>
	<main role="main">
		<div class="container">
			<div id="app_crud" class="div_principal col-md-12">
				<div class="row pt-3 pb-3">
					<div class="col-md-8">
						<h2>Lista de Usuários</h2>
					</div>
					<div class="col-md-4">
						<div class="row">
							<div class="col-6">
								<button class="btn bg-cor-1 btn-geral btn-block" @click="limparCampos"
									data-toggle="modal" data-target="#cadastroModal">Novo</button>
							</div>
							<div class="col-6">
								<button @click="buscarPessoas" class="btn bg-cor-1 btn-geral btn-block">Buscar</button>
							</div>
						</div>
					</div>
				</div>
				<table class="table table-hover">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Id</th>
							<th scope="col" width="85%">Nome</th>
							<th scope="col" width="10%" class="text-center">Ação</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="obj in lista">
							<th scope="row">{{ obj.id }}</th>
							<td>{{ obj.nome }} </td>
							<td class="text-center">
								<div class="btn-toolbar justify-content-center" role="toolbar">
									<div class="btn-group btn-group-sm" role="group">
										<button type="button" class="icone btn btn-geral bg-cor-3"
											@click="editarItem(obj)" data-toggle="modal"
											data-target="#cadastroModal">&#9998;</button>
										<button type="button" class="icone btn btn-geral bg-cor-2"
											@click="excluirItem(obj.id)">&#10006;</button>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="row mx-1 mb-5">
					<div class="col-6">
						{{ totalRegistros }} Registros
					</div>
					<div class="col-6 text-right">
						<nav>
							<ul class="pagination justify-content-end">
								<li class="page-item" v-if="initValue > 5"><a class="icone btn btn-nav mr-2" href="#"
										@click="voltarListagem">Anterior</a></li>
								<li class="page-item" v-if="(initValue+10)<totalRegistros"><a class="icone btn btn-nav"
										href="#" @click="avancarListagem">Próximo</a></li>
							</ul>
						</nav>
					</div>
				</div>
				<!-- Modal -->
				<div class="modal fade" id="cadastroModal" tabindex="-1" role="dialog"
					aria-labelledby="cadastroModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="cadastroModalLabel">Cadastro</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
										aria-hidden="true">&times;</span></button>
							</div>
							<div class="modal-body">
								<h2>{{ dto.nome }}</h2>
								<div class="form-group row">

									<label for="inputId" class="col-sm-2 col-form-label">Id</label>
									<div class="col-sm-10">
										<input readonly type="text" v-model="dto.id" class="form-control" id="inputId"
											placeholder="Id">
									</div>
								</div>
								<div class="form-group row">
									<label for="inputNome" class="col-sm-2 col-form-label">Nome</label>
									<div class="col-sm-10">
										<input type="text" v-model="dto.nome" class="form-control" id="inputNome"
											placeholder="Nome">
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-cadastro" @click="buscarPessoas"
									data-dismiss="modal">Cancelar</button>
								<button type="button" class="btn btn-cadastro" @click="salvarPessoa"
									data-dismiss="modal">Salvar</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer class="footer mt-auto py-3">
		<div class="container text-center">
			<span>© Copyright 2020 Daniel Diniz Oliveira</span>
		</div>
	</footer>

	<script>
		var vm1 = new Vue({
			el: '#app_crud',
			data: {
				lista: [{
					id: '1',
					nome: 'Teste'
				}],

				dto: {
					id: '',
					nome: ''
				},
				initValue: 0,
				totalRegistros: 0
			},
			methods: {
				buscarPessoas: function () {
					listarPessoasREST();
				},

				salvarPessoa: function () {
					axios.post('http://externos.hepta.com.br:8080/CrudWS/rest/pessoa/salvar', this.dto)
						.then(function (response) {
							console.log(response);
							listarPessoasREST();
							limparCampos();
						})
						.catch(function (error) {
							console.log(error);
						});

				},
				editarItem: function (obj) {
					this.dto = obj

				},
				excluirItem: function (id) {
					axios.delete('http://externos.hepta.com.br:8080/CrudWS/rest/pessoa/deletar/' + id)
						.then(function (response) {
							console.log(response);
							listarPessoasREST();
							limparCampos();
						})
						.catch(function (error) {
							console.log(error);
						});


				},
				voltarListagem: function () {
					this.initValue = this.initValue - 10;
					listarPessoasREST();
				},
				avancarListagem: function () {
					this.initValue = this.initValue + 10;
					listarPessoasREST();
				}
			},
			created: listarInicial()
		})

		function limparCampos() {
			vm1.dto = { id: '', nome: '' };
		}

		function listarPessoasREST() {
			axios.get("http://externos.hepta.com.br:8080/CrudWS/rest/pessoa/listar?initValue=" + vm1.initValue)
				.then(response => {
					console.log(response.data); vm1.lista = response.data
				}).catch(function (error) {
					console.log(error);
				});

			getTotalRegistros();
		}

		function listarInicial() {
			axios.defaults.headers.common['Content-Type'] = 'application/x-www-form-urlencoded';
			axios.get("http://externos.hepta.com.br:8080/CrudWS/rest/pessoa/listar")
				.then(response => {
					console.log(response.data); vm1.lista = response.data
				}).catch(function (error) {
					console.log(error);
				});

			getTotalRegistros();
		}


		function getTotalRegistros() {
			axios.get("http://externos.hepta.com.br:8080/CrudWS/rest/pessoa/total")
				.then(response => {
					vm1.totalRegistros = response.data
				}).catch(function (error) {
					console.log(error);
				});
		}

	</script>
</body>

</html>