body {    
    font-family: "Open Sans";
    background: #fff;
    font-size: 15px;    
    color: #333333;
    background-color: #fff;
}

.logo {
    text-align: left;
    margin-top: 0px;
}
.logo img {
    width: 140px;
    z-index: 2;        
}

.banner {
    width: 100%;
    min-height: 250px;
    background-image: url(../img/fundotop.jpg);
    background-size: cover;
}

.banner .container .row {
    min-height: 250px;
}

.titulo-banner h1{
    color: #e2e2e2;    
    text-align: center;
    text-transform: uppercase;    
    font-weight: bold;
    letter-spacing: 5px;
}

.btn-geral {
    border-radius: 3px;
    color: #fff;
}

.bg-cor-1 {
    background: #008693;    
    border: 1px solid #008693;    
}
.bg-cor-2 {
    background: #003E51;    
    border: 1px solid #003E51;    
}
.bg-cor-2:hover {
    background: #DB1826;
    border: 1px solid #003E51;     
        
}
.bg-cor-3 {
    background: #003E51;    
    border: 1px solid #003E51;    
}
.bg-cor-3:hover {
    background: #F1A71D;    
    border: 1px solid #003E51;    
}
.bg-cor-4 {
    background: #F84025;    
    border: 1px solid #F84025;    
}

.footer {
    background: #003E51;
    color: #e2e2e2;
    font-size: 12px;
    
}

.btn-nav{
    background-color: #008693;
    color: #fff;
}

.btn-cadastro:hover{
    
    background-color: #008693;
}
